@font-face {
  font-family: 'font-axishealth';
  src: url('../font/font-axishealth.eot?9744875');
  src: url('../font/font-axishealth.eot?9744875#iefix') format('embedded-opentype'),
       url('../font/font-axishealth.woff2?9744875') format('woff2'),
       url('../font/font-axishealth.woff?9744875') format('woff'),
       url('../font/font-axishealth.ttf?9744875') format('truetype'),
       url('../font/font-axishealth.svg?9744875#font-axishealth') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'font-axishealth';
    src: url('../font/font-axishealth.svg?9744875#font-axishealth') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "font-axishealth";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-icone-01:before { content: '\e800'; } /* '' */
.icon-icone-02:before { content: '\e801'; } /* '' */
.icon-icone-03:before { content: '\e802'; } /* '' */
.icon-icone-04:before { content: '\e803'; } /* '' */
.icon-icone-09:before { content: '\e804'; } /* '' */
.icon-icone-06:before { content: '\e805'; } /* '' */
.icon-icone-05:before { content: '\e806'; } /* '' */
.icon-icone-07:before { content: '\e807'; } /* '' */
.icon-icone-08:before { content: '\e808'; } /* '' */