/* Template: Devo - Mobile App Landing Page Template
   Author: 
   Created: Dec 2018
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:

01. General Styles
02. Preloader
03. Navigation
04. Header
05. Features
06. Highlights 1
07. Highlights 2
08. Highlights Lightboxes
09. Screenshots
08. Application Form
09. Testimonials
10. Small Features
10. Services
11. About
12. Download
13. More Apps
11. Details 1
13. Pricing Table
14. Newsletter
15. Contact
16. Footer
17. Copyright
18. Back To Top Button
19. Terms Conditions And Privacy Policy
20. Media Queries
******************************************/

/*****************************************
Colors:

- Text - gray: #717489
- Headers - gray: #5e6175
- Backgrounds - dark gray: #293546
- Backgrounds - light gray: #f8f9fc
- Buttons - orange: #E96A15
- Navbar, features icons - purple: #376FA7
antigo roxo #916fd0
antigo background-color roxo #684baf
antigo laranja #fc8181
******************************************/


/******************************/
/*     01. General Styles     */
/******************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #717489; 
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
}

.p-large {
	font: 400 1.4rem/1.625rem "Open Sans", sans-serif;
}

.p-medium {
	font: 400 1rem/1.425rem "Open Sans", sans-serif;
}
.p-small {
	font: 400 0.75rem/1.125rem "Open Sans", sans-serif;
}

.p-heading {
	text-align: center;
}

.v-space-lg li {
	margin-bottom: 0.25rem;
}

h1 {
	font: 700 2.75rem/3.375rem "Montserrat", sans-serif;
	letter-spacing: -1px;
}

h2 {
	color: #5e6175;
	font: 700 2.5rem/2.875rem "Montserrat", sans-serif;
	letter-spacing: -0.5px;
}

h2 .spot {
	margin-left: 0.1875rem;
	color: #E96A15;
	font-size: 2.875rem;
}

h3 {
	color: #5e6175;
	font: 700 1.875rem/2.5rem "Montserrat", sans-serif;
}

h4 {
	color: #5e6175;
	font: 700 1.375rem/1.75rem "Montserrat", sans-serif;
}

h5 {
	color: #5e6175;
	font: 700 1.125rem/1.625rem "Montserrat", sans-serif;
}

h6 {
	color: #5e6175;
	font: 700 1rem/1.5rem "Montserrat", sans-serif;
}

a {
	color: #717489;
}

a:hover {
	color: #717489;
	text-decoration: none;
}

.underline,
.underline:hover {
	text-decoration: underline;
}

.testimonial-text {
	font-style: italic;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.25rem 2.125rem 1.25rem 2.125rem;
	border: 1px solid #E96A15;
	border-radius: 2rem;
	background-color: #E96A15;
	color: #fff;
	font: 700 0.875rem/0 "Montserrat", sans-serif;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #E96A15;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #E96A15;
	border-radius: 2rem;
	background-color: #E96A15;
	color: #fff;
	font: 700 0.875rem/0 "Montserrat", sans-serif;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #E96A15;
}

.btn-solid-lg .fab {
	margin-right: 0.5rem;
	font-size: 1.25rem;
	line-height: 0;
	vertical-align: top;
}

.btn-solid-lg .fab.fa-google-play {
	font-size: 1.125rem;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.25rem 2.25rem 1.25rem 2.25rem;
	border: 1px solid #376FA7;
	border-radius: 2rem;
	background-color: transparent;
	color: #376FA7;
	font: 700 0.875rem/0 "Montserrat", sans-serif;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #376FA7;
	color: #fff;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.75rem 1rem 1.75rem;
	border: 1px solid #fff;
	border-radius: 2rem;
	background-color: transparent;
	color: #fff;
	font: 700 0.75rem/0 "Montserrat", sans-serif;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #fff;
	color: #37373c;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-group.has-error.has-danger {
	margin-bottom: 0.625rem;
}

.form-group.has-error.has-danger .help-block.with-errors ul {
	margin-top: 0.375rem;
}

.label-control {
	position: absolute;
	top: 0.8125rem;
	left: 1.75rem;
	opacity: 1;
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
	cursor: text;
	transition: all 0.2s ease;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.label-control {
		top: 0.625rem;
	}
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 0rem;
	padding-left: 1.75rem;
	border: 1px solid #d2d5df;
	border-radius: 2rem;
	background-color: #f8f9fc;
	font: 400 0.875rem/1.9375rem "Open Sans", sans-serif;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3.125rem;
	color: #717489;
	line-height: 1.875rem;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.form-control-input {
		padding-top: 1rem;
		padding-bottom: 0.5rem;
		line-height: 2rem;
	}

	.form-control-select {
		padding-top: 0.625rem;
		padding-bottom: 0.75rem;
		line-height: 2rem;
	}
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

select::-ms-expand {
    display: none; /* removes the ugly default down arrow on select form field in IE11 */
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 8rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.25rem;
	padding-left: 1.75rem;
	border: 1px solid #d2d5df;
	border-radius: 1.5rem;
	background-color: #f8f9fc;
	font: 400 0.875rem/1.75rem "Open Sans", sans-serif;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-input:hover,
.form-control-select:focus,
.form-control-select:hover,
.form-control-textarea:focus,
.form-control-textarea:hover {
	border: 1px solid #b5b9c9;
	outline: none; /* Removes blue border on focus */
	box-shadow: 0 0.5rem 0.5rem -0.375rem #b5b9c9;
}

.checkbox {
	font: 400 0.75rem/1.25rem "Open Sans", sans-serif;
}

input[type='checkbox'] {
	vertical-align: -15%;
	margin-right: 0.375rem;
}

/* IE10+ hack to raise checkbox field position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	input[type='checkbox'] {
		vertical-align: -9%;
	}
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3rem;
	border: 1px solid #E96A15;
	border-radius: 1.5rem;
	background-color: #E96A15;
	color: #fff;
	font: 700 0.875rem/1.75rem "Montserrat", sans-serif;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	background-color: transparent;
	color: #E96A15;
}

/* Form Success And Error Message Formatting */
#nmsgSubmit.h3.text-center.tada.animated,
#pmsgSubmit.h3.text-center.tada.animated,
#cmsgSubmit.h3.text-center.tada.animated,
#nmsgSubmit.h3.text-center,
#pmsgSubmit.h3.text-center,
#cmsgSubmit.h3.text-center {
	display: block;
	margin-bottom: 0;
	color: #E96A15;
	font: 400 1.125rem/1rem "Open Sans", sans-serif;
}

#cmsgSubmit.h3.text-center.tada.animated,
#cmsgSubmit.h3.text-center {
	color: #fff;
}

.help-block.with-errors {
	color: #E96A15;
	font-size: 0.75rem;
	line-height: 1.125rem;
}

.help-block.with-errors ul {
	margin-bottom: 0;
}
/* end of form success and error message formatting */

/* Form Success And Error Message Animation - Animate.css */
@-webkit-keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
/* end of form success and error message animation - Animate.css */

/* Fade-move Animation For Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for lightbox - magnific popup */

/* Fade Animation For Image Slider - Magnific Popup */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}
/* end of fade animation for image slider - magnific popup */


/*************************/
/*     02. Preloader     */
/*************************/
.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #376FA7 ;
}
/* antigo roxo spinner-wrapper #765cca */

.spinner {
	position: absolute;
	top: 50%; /* centers the loading animation vertically one the screen */
	left: 50%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */ 
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #fff;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}


/**************************/
/*     03. Navigation     */
/**************************/
.navbar-custom {
	background-color: #376FA7;
	/* font: 600 0.75rem/2rem "Montserrat", sans-serif; */
	font: 600 1rem/2rem "Montserrat", sans-serif;
	transition: all 0.2s;
}

.navbar-custom .navbar-brand.logo-text {
	margin-top: -0.125rem;
	font: italic 600 2.75rem/2rem "Open Sans", sans-serif;
	letter-spacing: -1px;
}

.navbar-custom .navbar-brand.logo-image img {
  /* width: 5.1875rem;
	height: 2rem; */
	width: 7.1875rem;
	height: 3rem;
	margin-bottom: 1px;
	-webkit-backface-visibility: hidden;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0.25rem 0.75rem 0.25rem 0.75rem;
	color: #fff;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #fff;
}

.navbar-custom ul li a {
	position: relative;
}

.navbar-custom ul li a::before,
.navbar-custom ul li a.active::before {
	position: absolute;
	right: 100%;
	left: 0;
	bottom: 0;
	height: 1px;
	background-color: #fff;
	content: '';
	transition: all 0.2s ease;
}

.navbar-custom ul li a.active::before,
.navbar-custom ul li a:hover::before {
	right: 0;
}

.navbar-custom ul li a.dropdown-item::before {
	right: 100%;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block; /* this makes the dropdown menu stay open while hovering it */
	min-width: auto;
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus  */
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	border: none;
	border-radius: 0.375rem;
	background-color: #376FA7;
}

.navbar-custom .dropdown-item {
	color: #fff;
}

.navbar-custom .dropdown-item:hover {
	background-color: #376FA7;
}

.navbar-custom .dropdown-item .item-text {
	font: 600 0.75rem/1.5rem "Montserrat", sans-serif;
}

.navbar-custom .dropdown-item:hover .item-text {
	color: #ffcccc;
}

.navbar-custom .dropdown-items-divide-hr {
	width: 100%;
	height: 1px;
	margin: 0.25rem auto 0.25rem auto;
	border: none;
	background-color: #b5bcc4;
	opacity: 0.2;
}
/* end of dropdown menu */

.navbar-custom .app-stores {
	display: none;
	margin-left: 0.5rem;
}

.navbar-custom .btn-navbar .fab {
	margin-left: 0.375rem;
	margin-right: 0.375rem;
	color: #fff;
	font-size: 1.25rem;
	vertical-align: -12%;
}

.navbar-custom .btn-navbar .fab.fa-google-play {
	font-size: 1rem;
	vertical-align: -10%;
}

.navbar-custom .navbar-toggler {
	border: none;
	color: #fff;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}


/**********************/
/*     04. Header     */
/**********************/
.header {
	position: relative;
	background: linear-gradient(rgba(145, 74, 218, 0), rgba(145, 74, 218, 0)), url('../images/header-background.jpg') center center no-repeat;
	background-size: cover; 
}

.header .header-content {
	padding-top: 6rem;
	padding-bottom: 5.875rem;
	
}

.header .header-iphone {
	position: relative;
	max-width: 20rem;
	max-height: 38.3125rem; /* necessary to solve IE 11 display issue when the natural image size is larger then specified here */
	margin-right: auto;
	margin-bottom: 3.5rem;
	margin-left: auto;
}

.header .iphone-mask {
	position: absolute;
	z-index: 999;
	left: 0;
	right: 0;
	margin-top: 1%;
	margin-right: auto;
	margin-left: auto;
}

.header .slider-container {
	position: absolute;
	left: 0;
	right: 0;
	width: 83%;
	margin-top: 4.9%;
	margin-right: auto;
	margin-left: auto;
}

.header .swiper-container {
	border-radius: 1.75rem;
}

.header .text-container {
	text-align: center;
	
}

.header h1,
.header .p-large {
	color: #fff;
}

.header h1 {
	margin-bottom: 1.375rem;
}

.header .p-large {
	margin-bottom: 2rem;
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.header .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
}

.header .btn-solid-lg:hover {
	border: 1px solid #fff;
	background-color: transparent;
	color: #fff;
}


/************************/
/*     05. Features     */
/************************/
.tabs {
	padding-top: 7.5rem;
	padding-bottom: 5.75rem;
	background: linear-gradient(rgba(145, 74, 218, 0), rgba(145, 74, 218, 0)), url('../images/features-background.jpg') center center no-repeat;
	background-size: cover; 
}

.tabs h2 {
	margin-bottom: 1.5rem;
	text-align: center;
}

.tabs .p-heading {
	margin-bottom: 4rem;
}

.tabs .nav {
	margin-bottom: 3rem;
}

.tabs .nav-pills {
	margin-right: auto;
	margin-left: auto;
	justify-content: center;
}

.tabs .nav-link {
	margin-bottom: 1rem;
	padding: 0.5rem 1.375rem 0.5rem 1.375rem;
	border-bottom: 0.25rem solid #e1e2ee;
	border-radius: 0;
	color: #c1c3d1;
	font: 600 1rem/1.75rem "Montserrat", sans-serif;
}

.tabs .nav-link.active,
.tabs .nav-link:hover {
	border-bottom: 0.25rem solid #376FA7;
	background-color: transparent;
	color: #376FA7;
}

.tabs .nav-link .fas {
	margin-right: 0.375rem;
	font-size: 1rem;
}

.tabs .tab-content {
	width: 100%; /* for proper display in IE11 */
}

.tabs .card {
	border: none;
	background: transparent;
}

.tabs .card-body {
	padding: 1rem 0 1.25rem 0;
}

.tabs .card-title {
	margin-bottom: 0.5rem;
}

.tabs .card .card-icon {
	display: inline-block;
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 50%;
	background-color: #E96A15;
	text-align: center;
	vertical-align: top;
}

.tabs .card .card-icon .la {
	color: #fff;
	font-size: 2.5rem;
	line-height: 3.4rem;
}


.tabs #tab-1 .card.left-pane .text-wrapper {
	display: inline-block;
	width: 75%;
}

.tabs #tab-1 .card.left-pane .card-icon {
	float: left;
	margin-right: 1rem;
}

.tabs #tab-1 img {
	display: block;
	margin: 2rem auto 3rem auto;
}

.tabs #tab-1 .card.right-pane .text-wrapper {
	display: inline-block;
	width: 75%;
}

.tabs #tab-1 .card.right-pane .card-icon {
	margin-right: 1rem;
}

.tabs #tab-2 img {
	display: block;
	margin: 0 auto 2rem auto;
}

.tabs #tab-2 .text-area {
	margin-top: 1.5rem;
}

.tabs #tab-2 h3 {
	margin-bottom: 0.75rem;
}

.tabs #tab-2 .icon-cards-area {
	margin-top: 2.5rem;
}

.tabs #tab-2 .icon-cards-area .card {
	width: 100%; /* for proper display in IE11 */
}

.tabs #tab-3 .icon-cards-area .card {
	width: 100%; /* for proper display in IE11 */
}

.tabs #tab-3 .text-area {
	margin-top: 0.75rem;
	margin-bottom: 4rem;
}

.tabs #tab-3 h3 {
	margin-bottom: 0.75rem;
}

.tabs #tab-3 img {
	margin: 0 auto 3rem auto;
}


/****************************/
/*     06. Highlights 1     */
/****************************/
.basic-1 {
	padding-top: 7.75rem;
	padding-bottom: 4.5rem;
	background: linear-gradient(rgba(145, 74, 218, 0), rgba(145, 74, 218, 0)), url('../images/highlights-background-1.jpg') center bottom no-repeat;
	background-size: cover;
}

.basic-1 .text-container {
	margin-bottom: 3.5rem;
}

.basic-1 h3 {
	margin-bottom: 0.75rem;
}

.basic-1 .btn-solid-reg {
	margin-top: 0.375rem;
}


/****************************/
/*     07. Highlights 2     */
/****************************/
.basic-2 {
	padding-top: 4.5rem;
	padding-bottom: 8.125rem;
	background: linear-gradient(rgba(145, 74, 218, 0), rgba(145, 74, 218, 0)), url('../images/highlights-background-2.jpg') center top no-repeat;
	background-size: cover;
}

.basic-2 img {
	margin-bottom: 3.5rem;
}

.basic-2 h3 {
	margin-bottom: 0.75rem;
}

.basic-2 .btn-solid-reg {
	margin-top: 0.375rem;
}


/*************************************/
/*     08. Highlights Lightboxes     */
/*************************************/
.lightbox-basic {
	position: relative;
	max-width: 46.875rem;
	margin: 2.5rem auto;
	padding: 3rem 1rem;
	border-radius: 0.25rem;
	background-color: #fff;
	text-align: left;
}

.lightbox-basic img {
	display: block;
	margin-right: auto;
	margin-bottom: 3rem;
	margin-left: auto;
}

.lightbox-basic h3 {
	margin-bottom: 0.5rem;
}

.lightbox-basic hr {
	width: 2.75rem;
	height: 1px;
	margin-top: 0.125rem;
	margin-bottom: 1rem;
	margin-left: 0;
	border: 0;
	background-color: #E96A15;
	text-align: left;
}

.lightbox-basic h4 {
	margin-top: 1.75rem;
	margin-bottom: 0.75rem;
}

.lightbox-basic table {
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

.lightbox-basic table tr {
	line-height: 1.75em;
}

.lightbox-basic table .icon-cell {
	width: 2rem;
	padding-right: 0.25rem;
	color: #E96A15;
	text-align: center;
}

.lightbox-basic .button-outline,
.lightbox-basic .button-solid {
	margin-top: 1.25rem;
}

.lightbox-basic a.mfp-close.as-button {
	position: relative;
	width: auto;
	height: auto;
	margin-right: 0.5rem;
	color: #376FA7;
	opacity: 1;
}

.lightbox-basic a.mfp-close.as-button:hover {
	color: #fff;
}

.lightbox-basic button.mfp-close.x-button {
	position: absolute;
	top: -0.375rem;
	right: -0.375rem;
	width: 2.75rem;
	height: 2.75rem;
	color: #717489;
}


/***************************/
/*     09. Screenshots     */
/***************************/
.slider-1 {
	padding-top: 8.125rem;
	padding-bottom: 8.125rem;
	background: linear-gradient(rgba(37, 50, 70, 0.7), rgba(37, 50, 70, 0.7)), url('../images/screenshots-background.jpg') center center no-repeat;
	background-size: cover; 
}

.slider-1 .slider-container {
	position: relative;
}

.slider-1 .swiper-container {
	position: static;
	width: 90%;
	text-align: center;
}

.slider-1 .swiper-button-prev,
.slider-1 .swiper-button-next {
	top: 50%;
	width: 1.125rem;
}

.slider-1 .swiper-button-prev:focus,
.slider-1 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-1 .swiper-button-prev {
	left: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.slider-1 .swiper-button-next {
	right: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}


/******************************/
/*     10. Small Features     */
/******************************/
.cards-1 {
	position: relative;
	padding-top: 8rem;
	padding-bottom: 4rem;
	background-color: #f8f9fc;
	text-align: center;
}

.cards-1 .card {
	max-width: 20.875rem;
	margin-right: auto;
	margin-bottom: 2.75rem;
	margin-left: auto;
	border: none;
	background: transparent;
}

.cards-1 .card-image {
	width: 7rem;
	height: 7rem;
	margin-right: auto;
	margin-bottom: 1.5rem;
	margin-left: auto;
	border-radius: 50%;
	background: linear-gradient(to right bottom, #376fa7, #5783b4, #7398c1, #8fadce, #abc2db);
}

.cards-1 .card-image .la {
	color: #fff;
	font-size: 5rem;
	/* line-height: 6.5rem; */
	line-height: 6.75rem;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-title {
	margin-bottom: 0.5rem;
}

.cards-1 .card-body p {
	margin-bottom: 1.375rem;
}

.cards-1 .image-wrapper {
	position: absolute;
	right: 0;
	bottom: -4rem;
	left: 0;
	margin-right: auto;
	margin-left: auto;
}


/*********************/
/*     11. About     */
/*********************/
.basic-3 {
	padding-top: 10rem;
	padding-bottom: 7rem;
	background: linear-gradient(to right bottom, #376fa7, #5783b4, #7398c1, #8fadce, #abc2db) center center no-repeat;
	/* url('../images/about-background.jpg')  */
	background-size: cover; 
}

.basic-3 .image-container {
	max-width: 24.25rem;
	margin-right: auto;
	margin-bottom: 4rem;
	margin-left: auto;
}

.basic-3 .slider-container {
	max-width: 24.25rem;
	margin-right: auto;
	margin-left: auto;
}

.basic-3 .swiper-container {
	padding-bottom: 2rem;
}

.basic-3 .swiper-slide {
	text-align: center;
}

.basic-3 p,
.basic-3 h5 {
	color: #fff;
}

.basic-3 .swiper-pagination {
	right: 0;
	left: 0;
	bottom: 0;
	color: #efefef;
}

.basic-3 .swiper-pagination-bullet {
	width: 0.75rem;
	height: 0.75rem;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
	background-color: #efefef;
}


/************************/
/*     12. Download     */
/************************/
.counter {
	padding-top: 9.5rem;
	padding-bottom: 10rem;
	background: linear-gradient(rgba(145, 74, 218, 0), rgba(145, 74, 218, 0)), url('../images/download-background.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.counter #counter .cell {
	display: inline-block;
	width: 5.75rem;
	margin-right: 1.5rem;
	margin-left: 1.5rem;
	margin-bottom: 2rem;
}

.counter #counter .counter-value {
	margin-bottom: 0.125rem;
	color: #5e6175;
	font: 600 3.75rem/3.5rem "Montserrat", sans-serif;	
	vertical-align: middle;
}

.counter #counter .counter-info {
	margin-bottom: 0;
	font: 400 0.875rem/1.25rem "Open Sans", sans-serif;
	vertical-align: middle;
}

.counter .p-large {
	margin-bottom: 1.75rem;
	font: 400 1.125rem/1.75rem "Open Sans", sans-serif;
}

.counter .btn-solid-lg {
	margin-right: 0.5rem;
	margin-bottom: 0.75rem;
}


/*************************/
/*     13. More Apps     */
/*************************/
.cards-2 {
	padding-top: 7.25rem;
	padding-bottom: 3rem;
}

.cards-2 h2 {
	text-align: center;
	margin-bottom: 1.5rem;
}

.cards-2 .p-heading {
	margin-bottom: 4rem;
}

.cards-2 .card {
	max-width: 20.875rem;
	margin-right: auto;
	margin-bottom: 5rem;
	margin-left: auto;
	border: none;
	background: transparent;
	text-align: center;
}

.cards-2 .card-image {
	width: 14rem;
	height: 14rem;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-left: auto;
}

.cards-2 .card-image img {
	border-radius: 50%;
}

.cards-2 .card-body {
	padding: 0;
}

.cards-2 .card-title {
	margin-bottom: 0.5rem;
}

.cards-2 .card-body p {
	margin-bottom: 1.375rem;
}

.cards-2 .fa-stack {
	margin-right: 0.125rem;
	margin-left: 0.125rem;
	font-size: 1.5rem;
}

.cards-2 .fa-circle {
	color: #E96A15;
}


/**************************/
/*     14. Newsletter     */
/**************************/
.form-1 {
	padding-top: 7.5rem;
	padding-bottom: 7rem;
	background: linear-gradient(rgba(145, 74, 218, 0), rgba(145, 74, 218, 0)), url('../images/newsletter-background.jpg') center center no-repeat;
	background-size: cover;
}

.form-1 h2 {
	margin-bottom: 1.5rem;
	text-align: center;
}

.form-1 .p-heading {
	margin-bottom: 4rem;
}

.form-1 #newsletterForm {
	max-width: 25rem;
	margin-right: auto;
	margin-left: auto;
}

.form-1 .label-control {
	color: #717489;
}

.form-1 .form-control-input {
	border: 1px solid #ebdada;
	background-color: #fff;
	color: #717489;
}

.form-1 .form-control-input:focus,
.form-1 .form-control-input:hover {
	border: 1px solid #9facbd;
	box-shadow: 0 0.5rem 0.5rem -0.375rem #bbc3ce;
}



/***********************/
/*     15. Contact     */
/***********************/
.form-2 {
	padding-top: 7.5rem;
	padding-bottom: 6.875rem;
	background: linear-gradient(rgba(145, 74, 218, 0), rgba(145, 74, 218, 0)), url('../images/contact-background.jpg') center center no-repeat;
	background-size: cover;
}

.form-2 h2 {
	margin-bottom: 1.5rem;
	text-align: center;
}

.form-2 h2,
.form-2 a {
	color: #fff;
}

.form-2 .list-unstyled.v-space-lg {
	margin-bottom: 4rem;
	color: #fff;
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
	text-align: center;
}

.form-2 .list-unstyled .fas,
.form-2 .list-unstyled .fab {
	margin-right: 0.375rem;
	color: #fff;
	font-size: 0.875rem;
}

.form-2 .list-unstyled .fa-phone {
	vertical-align: 3%;
}

.form-2 .image-container {
	margin-bottom: 4rem;
}

.form-2 #ContactForm {
	max-width: 31rem;
	margin-right: auto;
	margin-left: auto;
}

.form-2 .label-control {
	color: #fff;
}

.form-2 .form-control-input,
.form-2 .form-control-textarea {
	border: 1px solid #8baccf;
	background-color: #376FA7;
	color: #fff;
}

.form-2 .form-control-input:focus,
.form-2 .form-control-input:hover,
.form-2 .form-control-textarea:focus,
.form-2 .form-control-textarea:hover {
	border: 1px solid #beccdb;
	box-shadow: 0 0.5rem 0.5rem -0.375rem rgb(33, 91, 150);
}

.form-2 .checkbox {
	color: #fff;
}

.form-2 .help-block.with-errors {
	color: #fff;
}


/**********************/
/*     16. Footer     */
/**********************/
.footer {
	padding-top: 3rem;
	background-color: #376FA7;
	text-align: center;
}

.footer h4 {
	margin-bottom: 1rem;
}

.footer .fa-stack.fa-lg {
	margin-top: 0.375rem;
	margin-right: 0.125rem;
	margin-left: 0.125rem;
	font-size: 1.5rem;
	line-height: 3rem;
}

/* Default Social Icon */
.footer .fa-stack a .fa-stack-1x {
    color: #376FA7;
	transition: all 0.2s;
}

.footer .fa-stack a .fa-stack-2x {
	color: #fff;
	transition: all 0.2s;
}

.footer .fa-stack a:hover .fa-stack-1x {
	color: #fff;
}

.footer .fa-stack a:hover .fa-stack-2x {
    color: #E96A15;
}
/* end of default social icon */


/*************************/
/*     17. Copyright     */
/*************************/
.copyright {
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	background-color: #376FA7;
	text-align: center;
}

.copyright .p-small {
	opacity: 0.8;
	color: #fff;
}

.copyright .underline {
	color: #fff;
}


/**********************************/
/*     18. Back To Top Button     */
/**********************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #E96A15 url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #E96A15; 
}


/***************************************************/
/*     19. Terms Conditions And Privacy Policy     */
/***************************************************/
.ex-header {
	padding-top: 9rem;
	padding-bottom: 5rem;
	background: linear-gradient(to bottom right, rgba(81, 83, 222, 1), rgba(253, 129, 129, 1));
	color: #fff;
	text-align: center;
}

.ex-basic-1 {
	padding-top: 2rem;
	padding-bottom: 0.875rem;
	background-color: #f8f9fc;
}

.ex-basic-2 {
	padding-top: 5rem;
	padding-bottom: 4rem;
}

.ex-basic-2 h3 {
	margin-bottom: 0.75rem;
}

.ex-basic-2 .text-container {
	margin-bottom: 2.875rem;
}

.ex-basic-2 .text-container.dark {
	margin-bottom: 4rem;
	padding: 2rem 1.75rem 1.5rem 2rem;
	background-color: #f8f9fc;
}

.ex-basic-2 .v-space-lg li {
	margin-bottom: 0.625rem;
}

.ex-basic-2 .list-unstyled .fas {
	font-size: 0.75rem;
	line-height: 1.5rem;
}

.ex-basic-2 .list-unstyled .media-body {
	margin-left: 0.375rem;
}

.ex-basic-2 .form-control-input,
.ex-basic-2 .form-control-select {
	border: 1px solid #e5e7ec;
	background-color: #fbfbfd;
}

.ex-basic-2 .form-control-input:focus,
.ex-basic-2 .form-control-input:hover,
.ex-basic-2 .form-control-select:focus,
.ex-basic-2 .form-control-select:hover {
	border: 1px solid #c8ccd8;
	box-shadow: 0 0.5rem 0.5rem -0.375rem #e7e8ee;
}

.ex-basic-2 .btn-solid-reg.wide {
	display: block;
	margin-top: 1.5rem;
	text-align: center;
}

.ex-basic-2 .btn-solid-reg.back {
	margin-top: 1rem;
}


/*****************************/
/*     20. Media Queries     */
/*****************************/	
/* Min-width width 768px */
@media (min-width: 768px) {
	
	/* General Styles */
	.p-heading {
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}

	h1 {
		font: 700 3.875rem/4.5rem "Montserrat", sans-serif;
	}
	/* end of general styles */


	/* Navigation */
	.navbar-custom {
        padding: 2.125rem 1.5rem 2.125rem 1.5rem;
        background: transparent;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
		background-color: #376FA7;
	}
	
	.navbar-custom .navbar-brand.logo-image img {
        /* width: 5.8125rem;
		height: 2.25rem; */
		/* width: 8.8125rem;
		height: 3.25rem; */
		width: 14.8125rem;
		height: 5.25rem;
	}

	.navbar-custom.top-nav-collapse .navbar-brand.logo-image img {
        /* width: 5.1875rem;
		height: 2rem; */
		/* width: 8.1875rem;
		height: 3rem; */
		width: 11.1875rem;
		height: 4rem;
	}
    
	.navbar-custom .navbar-nav {
		margin-top: 0;
	}

	.navbar-custom .dropdown-item {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	.navbar-custom .dropdown-items-divide-hr {
		width: 84%;
	}

	.navbar-custom .app-stores {
		display: inline-block;
	}
	/* end of navigation */


	/* Header */
	.header .header-content {
		/* padding-top: 9rem; */
		padding-top: 11rem;
	}

	.header h1 {
		line-height: 4.25rem;
	}
	/* end of header */


	/* Features */
	.tabs .card .card-icon {
		width: 4.5rem;
		height: 4.5rem;
	}
	
	.tabs .card .card-icon .la {
		font-size: 3.3rem;
		line-height: 4.5rem;
	}

	.tabs #tab-1 .card.left-pane .text-wrapper {
		width: 85%;
	}

	.tabs #tab-2 img {
		margin-bottom: 0;
	}

	.tabs #tab-2 .text-area {
		margin-top: 0;
	}

	.tabs #tab-2 .icon-cards-area .card {
		display: inline-block;
		width: 44%;
		margin-right: 1rem;
		vertical-align: top;
	}

	.tabs #tab-3 .text-area {
		margin-bottom: 0;
	}

	.tabs #tab-3 .icon-cards-area .card {
		display: inline-block;
		width: 44%;
		margin-right: 1rem;
		vertical-align: top;
	}

	.tabs #tab-3 img {
		margin-bottom: 0;
	}
	/* end of features */


	/* Highlights 1 */
	.basic-1 {
		background-position: left bottom;
	}

	.basic-1 .text-container {
		margin-bottom: 0;
	}
	/* end of highlights 1 */


	/* Highlights 2 */
	.basic-2 {
		background-position: right top;
	}

	.basic-2 img {
		margin-bottom: 0;
	}
	/* end of highlights 2 */


	/* Highlights Lightboxes */
	.lightbox-basic {
		padding: 3rem 3rem;
	}
	/* end of highlights lightboxes */


	/* Screenshots */
	.slider-1 .swiper-button-prev {
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	
	.slider-1 .swiper-button-next {
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	/* end of screenshots */


	/* Small Features */
	.cards-1 {
		padding-bottom: 6rem;
	}

	.cards-1 .image-wrapper {
		bottom: -6.5rem;
	}

	.cards-1 .image-wrapper img {
		max-width: 43.75rem;
	}
	/* end of small features */


	/* About */
	.basic-3 {
		padding-top: 13rem;
	}
	/* end of about */


	/* Download */
	.counter {
		padding-top: 14.5rem;
		padding-bottom: 15rem;
		text-align: left;
	}

	.counter #counter .cell {
		margin-right: 3.5rem;
		margin-left: 0;
	}

	.counter .btn-solid-lg {
		margin-bottom: 0rem;
	}
	/* end of download */


	/* Contact */
	.form-2 .list-unstyled li {
		display: inline;
		margin-right: 0.75rem;
	}

	.form-2 .list-unstyled .address {
		display: block;
	}
	/* end of contact */


	/* Footer */
	.footer .footer-col {
		margin-bottom: 3rem;
	}

	.footer .fa-stack.fa-lg {
		margin-right: 0.25rem;
	}
	/* end of footer */


	/* Terms Conditions And Privacy Policy */
	.ex-header {
		padding-top: 12rem;
		padding-bottom: 9rem;
	}

	.ex-basic-2 .text-container.dark {
		padding: 2.5rem 3rem 2rem 3rem;
	}

	.ex-basic-2 .text-container.column {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of terms conditions and privacy policy */
}
/* end of min-width width 768px */


/* Min-width width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.p-heading {
		width: 65%;
	}
	/* end of general styles */


	/* Header */
	.header {
		position: relative;
		height: 100%;
		min-height: 50rem;
	}

	.header .header-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
		min-height: 50rem;
		/* padding-top: 4rem; */
		/* padding-top: 8rem; */
		padding-top: 10rem;
		padding-bottom: 0;
	}

	.header .header-iphone {
		margin-bottom: 0;
	}

	.header .text-container {
		margin: 1rem 1rem 0 0.5rem;
		/* margin: 9rem 1rem 0 0.5rem; */
		text-align: left;
	}

	.header .btn-solid-lg {
		margin-bottom: 0;
	}
	/* end of header */


	/* Features */
	.tabs .card-body {
		padding: 1rem 0 1.5rem 0;
	}
	
	.tabs #tab-1 .card.left-pane {
		text-align: right;
	}

	.tabs #tab-1 .card.left-pane .text-wrapper,
	.tabs #tab-1 .card.right-pane .text-wrapper {
		width: 68%;
	}

	.tabs #tab-1 .card.left-pane .card-icon {
		float: none;
		margin-right: 0;
		margin-left: 1rem;
	}

	.tabs #tab-1 img {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.tabs #tab-2 .icon-cards-area {
		margin-top: 2.25rem;
	}

	.tabs #tab-2 .icon-cards-area .card {
		width: 45%;
		margin-right: 1.5rem;
	}

	.tabs #tab-2 .icon-cards-area .card p {
		margin-bottom: 0.5rem;
	}

	.tabs #tab-3 .icon-cards-area .card {
		width: 45%;
		margin-right: 1.5rem;
	}

	.tabs #tab-3 .icon-cards-area .card p {
		margin-bottom: 0.5rem;
	}


	/* Highlights 1 */
	.basic-1 {
		padding-top: 8.25rem;
	}

	.basic-1 .text-container {
		margin-top: 2.5rem;
	}
	/* end of highlights 1 */


	/* Highlights 2 */
	.basic-2 .text-container {
		margin-top: 2.5rem;
	}
	/* end of highlights 2 */
	

	/* Highlights Lightboxes */
	.lightbox-basic img {
		margin-bottom: 0;
	}
	/* end of highlights lightboxes */


	/* Screenshots */
	.slider-1 .swiper-container {
		width: 92%;
	}
	/* end of screenshots */


	/* Contact */
	.form-2 {
		padding-bottom: 8rem;
	}

	.form-2 .image-container {
		margin-bottom: 0;
	}
	/* end of contact */

	/* Terms Conditions And Privacy Policy */
	.ex-header h1 {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

	.ex-basic-2 {
		padding-bottom: 5rem;
	}

	.ex-basic-2 .text-container.column {
		margin-bottom: 0;
	}
	/* end of terms conditions and privacy policy */
}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {
	
	/* General Styles */
	.p-heading {
		width: 50%;
	}
	/* end of general styles */


	/* Header */
	.header .header-iphone {
		margin-right: 2rem;
	}

	.header .text-container {
		margin-right: 5.5rem;
		margin-left: 1rem;
	}
	/* end of header */


	/* Features */
	.tabs {
		padding-bottom: 7.75rem;
	}

	.tabs #tab-1 .card.first {
		margin-top: 4.25rem;
	}

	.tabs #tab-1 .card {
		margin-bottom: 0.25rem;
	}

	.tabs #tab-1 .card.left-pane .text-wrapper,
	.tabs #tab-1 .card.right-pane .text-wrapper {
		width: 73%;
	}

	.tabs #tab-1 img {
		margin-top: 0;
	}

	.tabs #tab-2 .container {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}

	.tabs #tab-2 .text-area {
		margin-top: 1.5rem;
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.tabs #tab-2 .icon-cards-area {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.tabs #tab-3 .container {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}
	
	.tabs #tab-3 .icon-cards-area {
		margin-top: 2rem;
		margin-left: 1rem;
	}
	
	.tabs #tab-3 .text-area {
		margin-right: 1.5rem;
		margin-left: 1rem;
	}


	/* Highlights 1 */
	.basic-1 .text-container {
		margin-top: 3.5rem;
		margin-left: 3rem;
		margin-right: 2rem;
	}
	/* end of highlights 1 */
	
	
	/* Highlights 2 */
	.basic-2 .text-container {
		margin-top: 3.5rem;
		margin-right: 3rem;
		margin-left: 2rem;
	}
	/* end of highlights 2 */

	
	/* About */
	.basic-3 {
		padding-bottom: 8.5rem;
		text-align: center;
	}

	.basic-3 .image-container {
		display: inline-block;
		max-width: 30.3125rem;
		margin-bottom: 0;
		vertical-align: middle;
		margin-right: -1rem;
	}

	.basic-3 .slider-area {
		display: inline-block;
		vertical-align: middle;
		margin-left: -1rem;
		
	}

	.basic-3 .slider-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 26.25rem;
		height: 26.25rem;
		max-width: 100%;
		padding-top: 2.625rem;
		border-radius: 50%;
		background-color: #293546;
		
	}

	.basic-3 .swiper-container {
		width: 17.5rem;
	}
	/* end of about */


	/* Download */
	.counter #counter,
	.counter .text-container {
		margin-left: 2rem;
	}
	/* end of download */


	/* Contact */
	.form-2 .image-container {
		max-width: 28.75rem;
		margin-right: 1.5rem;
		margin-left: 4rem;
	}

	.form-2 #ContactForm {
		margin-top: 1rem;
		margin-right: 4rem;
		margin-left: 2rem;
	}
	/* end of contact */

	/* Footer */
	.footer .footer-col {
		width: 95%;
	}
	/* end of footer */


	/* Terms Conditions And Privacy Policy */
	.ex-basic-2 #PrivacyForm {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of terms conditions and privacy policy */
}
/* end of min-width width 1200px */